<ion-view view-title="{{titulo}}">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Nome" ng-model="contato.nome">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Telefone" ng-model="contato.telefone">
      </label>
      <div class="item padding">
        <button class="button button-positive button-block" ng-click="salvar()">Salvar</button>
      </div>
    </div>  
  </ion-content>
</ion-view>
