<ion-view view-title="Contatos">
  <ion-content>
    <h2 class="padding">{{titulo}}</h2>

    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="contato in contatos" ng-click="editar($index)">
        <h2>{{contato.nome}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
