<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Contatos" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/contatos">
    <ion-nav-view name="tab-contatos"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Add" icon-off="ion-ios-plus" icon-on="ion-ios-plus" ui-sref="tab.add">
    <ion-nav-view name="tab-add"></ion-nav-view>
  </ion-tab>

</ion-tabs>
